@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
    --clr-purple: #8052ec;
    --clr-pink: #d161ff;
    --clr-red: #EA1821;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, var(--clr-purple), var(--clr-pink));
    background-size: 100% 100%;
}

.container {
    width: min(600px, 90vw);
    height: 90vh;
    min-height: 400px;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.container__title {
    color: var(--clr-purple);
    font-size: 3rem;
    text-align: center;
}

.form {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.form input {
    padding: 0.8rem;
    border: 0;
    outline: 0;
    font-size: 1rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.form input[type="text"] {
    flex-grow: 1;
    width: 100%;
    border: 1px solid var(--clr-purple);
}

.form input[type="submit"] {
    width: 100px;
    background-color: var(--clr-purple);
    color: #fff;
    cursor: pointer;
}

.todo__list {
    height: 100%;
    max-height: 100%;
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
    gap: 0.5rem;
    overflow-y: auto;
}

.list__item {
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    color: #000;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 0.8rem;
    box-shadow: 0px 0px 2px 2px rgb(235, 219, 219);
}

.checkbox {
    text-align: center;
    margin-right: 0.5rem;
}

.checkbox input[type="checkbox"] {
    position: relative;
    top: 8px;
    width: 1.5rem;
    height: 1.5rem;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    transition: 0.5s;
}

.checkbox input[type="checkbox"]:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--clr-purple);
    box-sizing: border-box;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.checkbox input[type="checkbox"]:not(:checked)::before {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.checkbox input:checked[type="checkbox"]:before {
    border-left: none;
    border-top: none;
    width: 0.7rem;
    border-color: var(--clr-purple);
    transform: rotate(45deg) translate(5px, -10px);
}


.list__item>p {
    width: 80%;
    word-break: break-all;
    align-self: center;
}

.delete__icon {
    height: 2.8rem;
    aspect-ratio: 1;
    background-color: var(--clr-purple);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin-left: auto;
    cursor: pointer;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.delete__icon:hover {
    background-color: var(--clr-red);
}



@media screen and (max-width: 600px) {
    .list__item {
        gap: 0.5rem;
    }
}